<a href="https://colab.research.google.com/github/MyllenaGula/Python/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 1 ‚ô® ü§∫ ü©∞

In [ ]:
ano = "IV"
print(ano, "competi√ß√£o de programa√ß√£o d√° Start")

IV competi√ß√£o de programa√ß√£o d√° Start

Aula 2 ü¶á üåä ‚ù§

In [ ]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais de ana s√£o {pontos_ana}")
print(f"Os pontos totais de Rodrigo e ana s√£o {pontos_totais}")

Os pontos totais do Rodrigo s√£o 24
Os pontos totais de ana s√£o 46
Os pontos totais de Rodrigo e ana s√£o 70

Aula 3 üí¢ ‚öì ‚õ≤

In [ ]:
total_de_figurinhas = int(input("Digite o total de figurinhas: "))
numero_de_amigos = int(input("Digite o n√∫mero de amigos: "))
figurinhas_amigo = total_de_figurinhas // (numero_de_amigos + 2)
figurinhas_joao = 2 * figurinhas_amigo
print(f"Jo√£o recebeu {figurinhas_joao} figurinhas")
total_de_figurinhas_extras = int(input("Digite o total de figurinhas extras: "))
numero_de_amigos = int(input("Digite o n√∫mero de amigos: "))
figurinhas_amigo_2 = total_de_figurinhas // (numero_de_amigos + 2)
figurinhas_joao_2 = 2 * figurinhas_amigo
print(f"Jo√£o recebeu {figurinhas_joao_2} figurinhas extras")
print(f"Jo√£o recebeu {figurinhas_joao + figurinhas_joao_2} figurinhas totais")

Digite o total de figurinhas: 100
Digite o n√∫mero de amigos: 5
Jo√£o recebeu 28 figurinhas
Digite o total de figurinhas extras: 100
Digite o n√∫mero de amigos: 5
Jo√£o recebeu 28 figurinhas extras
Jo√£o recebeu 56 figurinhas totais

**Aula 4**
Dia de prova ‚öó ‚è∞ ‚öõ

In [ ]:
P = int(input("Digite a posi√ß√£o da porta P (0 ou 1): "))
R = int(input("Digite a posi√ß√£o da porta R (0 ou 1): "))
if P == 0:
    print("C")
elif R == 1:
    print("A")
else:
    print("B")

aula 5 ‚ô• ‚ù§ üíî

In [ ]:
peso = float(input("Digite seu peso (em kg): "))
altura = float(input("Digite sua altura (em metros): "))
imc = peso / (altura ** 2)
print(f"\nSeu IMC √©: {imc:.2f}")
if imc < 18.5:
    print("Voc√™ est√° abaixo do peso.")
elif 18.5 <= imc < 25:
    print("Voc√™ est√° no peso ideal.")
elif 25 <= imc < 30:
    print("Voc√™ est√° com sobrepeso.")
else:
    print("Voc√™ est√° acima do peso.")

Digite seu peso (em kg): 67
Digite sua altura (em metros): 1,35

ValueError: could not convert string to float: '1,35'

aula 6 üßö ü§∏ üêª

In [ ]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera n√∫meros de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um n√∫mero para ver sua tabuada: "))
tabuada(numero)

Digite um n√∫mero para ver sua tabuada: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

aula 7 ü•ë ü´ê ü¶´

In [ ]:
def calcula_idade_maior(idade_monica, idade_filho1, idade_filho2):
  idade_filho3 = idade_monica - idade_filho1 - idade_filho2
  idade_maxima = max(idade_filho1, idade_filho2, idade_filho3)
  return idade_filho3, idade_maxima
resultado = calcula_idade_maior(68, 12, 30)
print(resultado)